* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared styles */
.ff01 {
  font-family: "Inter", sans-serif;
}
.ff02 {
  font-family: "Noto Serif", serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
.text-gray01 {
  color: #8987a1;
}
.text-orange {
  color: #e95a08;
}
.mb {
  margin-bottom: 120px;
}
.btn-primary {
  background-color: #e95a08;
  color: white;
  padding: 26px 50px 26px 50px;
  font-weight: 600;
  border: none;
}
/* header section style */

/* navbar related styles */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.navbar ul {
  display: flex;
}
.nav-item {
  list-style: none;
  margin-top: 23px;
}
.mr {
  margin-right: 48px;
}
.nav-link {
  text-decoration: none;
}
.home {
  font-weight: 700;
  color: black;
}
.cart {
  color: black;
}

/* banner related styles */
.banner {
  display: flex;
  align-items: end;
}
.banner-left {
  flex: 1;
}

.banner-left h2 {
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 13px;
}
.banner-left p {
  font-size: 22px;
  font-weight: 400;
}

.banner-right {
  flex: 1;
}
.banner-right img {
  display: block;
}
/* Our plants related style */
.our-plants {
  text-align: center;
}
.our-plants h3 {
  font-size: 50px;
  font-weight: 600;
}
.our-plants p {
  font-size: 22px;
  font-weight: 400;
  margin: 0px 126px;
  margin-bottom: 49px;
}
/* card related style */
.card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
  margin-bottom: 217px;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card h4 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 30px;
}
.card h3 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 30px;
}
.card button {
  width: 100%;
}

/* flower & plants related style */
.plant-section {
  display: flex;
  gap: 60px;
}
.badge-image img {
  width: 286px;
  height: 286px;
}
.image-container {
  position: relative;
}
.badge-image {
  position: absolute;
  top: -120px;
  left: 375px;
  filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
}
.flower-section {
  margin: 38px;
}
.flower-section h3 {
  font-size: 50px;
  font-weight: 600;
}
.flower-section li {
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
}
/* latest deals related style */
.deals-section{
  text-align: center;
  margin-left: 126px;
  margin-right: 126px;
}
.deals-section h2{
  font-size: 50px;
  font-weight: 600;
}
.deals-section p{
  font-size: 22px;
  font-weight: 400;
}
.bloom{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/deal-bloom.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}
.ana{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/deal-ana.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}
.zabo{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/deal-zabo.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}
.deals-card{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 16px;
}
.deals-card span{
  text-decoration: underline;
}
.card-container{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

/* Responsive Media */
@media screen and (max-width: 576px) {
  .hidden {
    display: none;
  }
  .navbar, .banner-left, .our-plants, .plant-section{
    margin: 0px 16px;
  }
  .banner {
    flex-direction: column-reverse;
    align-items: start;
    gap: 28px;
  }
  .banner-left h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 13px;
  }
  .banner-right img {
    width: 100%;
  }
  .banner-left p {
    font-size: 14px;
    font-weight: 400;
  }
  .mb {
    margin-bottom: 60px;
  }
  .our-plants h3 {
    font-size: 24px;
    font-weight: 600;
  }
  .our-plants p {
    font-size: 14px;
    font-weight: 400;
    margin: 26px;
  }
  .card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
    margin-bottom: 0px;
  }
  .card img {
    width: 100%;
  }
  .plant-section {
    flex-direction: column;
    gap: 18px;
  }
  .section-image img {
    width: 100%;
  }
  .flower-section h3 {
    font-size: 24px;
  }
  .flower-section br {
    display: none;
  }
  .flower-section li{
    font-size: 14px;
    margin: 16px 20px;

  }
  .flower-section {
    margin: 0px;
  }
}
